// custom variables
$primary: #007cf8;
$secondary: #787b7b;
$dark: #1b2635;
$line-height: 1px;
$button-border-radius: 20px;

@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import '../node_modules/bootstrap-icons/font/bootstrap-icons.css';
@import '../node_modules/material-icons/iconfont/material-icons.css';

body {
  margin: 0;
  padding: 0;
}

a {
  .material-icons-outlined {
    font-size: 40px;
  }
}

.material-icons-outlined {
  vertical-align: middle;
  line-height: $line-height;
}

.bi {
  font-size: 25px;
}

.nav-link {
  &:hover {
    font-weight: bold;
  }
}

#demo {
  &:hover {
    color: white;
  }
}

.product-icon {
  $size: 40px;
  width: $size;
  height: $size;
}

.button, .btn { 
  border-radius: $button-border-radius;
  padding: 0.3rem 3rem; 
}

.product-icon {
  border-radius: 50%;
}

.card-link {
  text-decoration: none; 
}

.profile-img {
  width: 120px;  
  height: 120px;  
  border-radius: 50%;  
  object-fit: cover;  
  display: block;  
  margin: 0 auto; 
}

